/* hotel image and details */
#detail_hotel_image{
    width: 500px;
    height: 500px;
    margin-top: 2%;
    margin-right: 4%;
    margin-left: 4%;

}

/* book now form */
form{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}

/* hotel description */
#description{
    margin: 1% 4% 2% 4%;
}