
/* city image cards */
.city_images {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.city{

 width: 150px;
 height: 150px;
 border-radius: 25%;
 box-shadow: 10px 10px 10px 10px grey;

}
.cityImages {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
}

.hiddenDiv{
    
    position: absolute;
    display: none;
}
.cityImages:hover .hiddenDiv{
    color:#f1f1f1;
    display: block;
}

.cityImages:hover .city{
    opacity: 0.5;
}


/* search bar */

section #searchCity{
 margin-top: 200px;
 margin-left: 500px;
 border: 1px solid transparent;
 border-radius: 12px;
 padding: 10px;
 width: 300px;
 font-size: 16px;
 background-color: #f1f1f1;

}

section input:focus {
    outline:none;
}

section{
    height: 1000px;
}

section #view_more{
    text-decoration: none;
    color: #111;
}

section #view{
    text-align: center;
}


#search_bar{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}







/* media query */
@media (min-width: 576px) and (max-width: 768px) 
{  

    .city_images{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 576px) 
{

    .city_images{
        display: flex;
        align-items: center;
    }

}

