
/* hotel image */
.hotel_image{
   width: 250px;
    height: 250px;
}
.hotel_view h3{
    font-size: 1.5rem;
}
.hotel_view_main{
    margin-top: 50px;

}
.hotel_view_details{
    margin-left: 2%;
    max-height: 250px;
    max-width: 250px;

}
#list-view a{
    text-decoration: none;
    color: #000;
}

#list-view{
    margin-left: 2%;
}

.hotel_view_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

/* image with details */
.hotel_view{
    max-height: 250px;
    width: 40%;
    float: left;
    margin: 2%;
    /* background-color: rgb(132,136,139); */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    background-color: lightgrey;
}
.hotel_view:hover .hotel_view_details{
    background-color: rosybrown;
}

/* #map-view{
    display: none;
}

#visit:visited #list-view{
    display: none;
} */
/* section nav ul li{
    display: inline;
    padding: 10px;
    margin-top: 100px;

}

section nav ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;

} */

section #navTab{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

