
/* hotel image */
.hotel_image{
   width: 250px;
    height: 250px;
}
.hotel_view h3{
    font-size: 1.5rem;
}
.hotel_view_main{
    margin-top: 50px;

}
.hotel_view_details{
    margin-left: 2%;
    max-height: 250px;
    max-width: 250px;

}
#list-view a{
    text-decoration: none;
    color: #000;
}

#list-view{
    margin-left: 2%;
}

.hotel_view_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

/* image with details */
.hotel_view{
    max-height: 250px;
    width: 40%;
    float: left;
    margin: 2%;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}
.hotel_view:hover .hotel_view_details{
    background-color: rosybrown;
}


section #navTab{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section .hotel_view_details .star{
    color: orange;
}





/* media query */
@media (min-width: 576px) and (max-width: 768px) 
{  

    .hotel_view_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
}
@media (min-width: 576px) 
{
    .hotel_view_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


}


